In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
page = requests.get('https://www.worlddata.info/average-income.php')

In [3]:
soup = BeautifulSoup(page.content,'html.parser')

In [4]:
page.close()

In [ ]:
print(soup.prettify())

In [ ]:
print(len(soup.table))
print(soup.table.prettify())

table = soup.table

In [7]:
print(len(table.findAll('a')))

a_tag = table.findAll('a')

a_tags = []

for x in range(0,69):
    a_tag[x] = a_tag[x].text
    a_tags.append(a_tag[x])

print(a_tags)

69
['Bermuda', 'Norway', 'Macao', 'Iceland', 'United States', 'Ireland', 'Denmark', 'Singapore', 'Austria', 'Finland', 'Belgium', 'United Kingdom', 'Kuwait', 'Italy', 'Bahamas', 'Cyprus', 'Slovenia', 'Portugal', 'Greece', 'Saint Kitts and Nevis', 'Palau', 'Poland', 'Antigua and Barbuda', 'Croatia', 'Costa Rica', 'Russia', 'Malaysia', 'Mauritius', 'Bulgaria', 'Turkey', 'Argentina', 'Kazakhstan', 'Mexico', 'Serbia', 'Saint Vincent and the Grenadines', 'Turkmenistan', 'Belarus', 'Lebanon', 'Guatemala', 'Jordan', 'Samoa', 'Micronesia', 'Sri Lanka', 'West Bank', 'Eswatini', 'Ukraine', 'Djibouti', 'Bhutan', 'Vanuatu', 'Ghana', 'Sao Tome and Principe', 'India', 'Congo', 'Syria', 'Mauritania', 'Cameroon', 'Cambodia', 'Comoros', 'Pakistan', 'Burma', 'Zambia', 'Tajikistan', 'Guinea', 'Mali', 'Guinea-Bissau', 'Chad', 'Eritrea', 'Sierra Leone', 'Madagascar']

In [8]:
td_tag = table.findAll('td')
print(len(td_tag)) 

income_per_year = []

for x in range(2,276,4):
    td_tag[x] = td_tag[x].text
    parts = td_tag[x].split(' ')
    income_per_year.append(parts[0])

print(income_per_year)

276
['117,740', '78,250', '75,610', '72,930', '65,910', '63,470', '62,720', '54,920', '51,390', '49,620', '47,960', '42,130', '36,290', '32,200', '27,780', '26,110', '25,910', '22,000', '19,690', '17,400', '16,500', '15,270', '14,250', '14,190', '11,460', '10,690', '10,580', '10,230', '9,540', '9,050', '8,930', '8,680', '8,480', '7,400', '7,340', '7,220', '6,330', '5,510', '4,490', '4,310', '4,070', '4,010', '3,720', '3,710', '3,580', '3,540', '3,320', '2,860', '2,780', '2,230', '2,070', '1,900', '1,830', '1,820', '1,640', '1,500', '1,490', '1,450', '1,280', '1,260', '1,190', '1,060', '1,020', '830', '760', '660', '600', '490', '480']

In [9]:
income_per_month = []

for x in range(3,276,4):
    td_tag[x] = td_tag[x].text
    parts = td_tag[x].split(' ')
    income_per_month.append(parts[0])
    

print(income_per_month)

['9,812', '6,521', '6,301', '6,078', '5,493', '5,289', '5,227', '4,577', '4,283', '4,135', '3,997', '3,511', '3,024', '2,683', '2,315', '2,176', '2,159', '1,833', '1,641', '1,450', '1,375', '1,273', '1,188', '1,183', '955', '891', '882', '853', '795', '754', '744', '723', '707', '617', '612', '602', '528', '459', '374', '359', '339', '334', '310', '309', '298', '295', '277', '238', '232', '186', '173', '158', '153', '152', '137', '125', '124', '121', '107', '105', '99', '88', '85', '69', '63', '55', '50', '41', '40']

In [11]:
data = pd.DataFrame({'Country':a_tags,'Avg.income per year ($)':income_per_year,'Avg.income per month ($)':income_per_month})

data

          Country Avg.income per year ($) Avg.income per month ($)
0         Bermuda                 117,740                    9,812
1          Norway                  78,250                    6,521
2           Macao                  75,610                    6,301
3         Iceland                  72,930                    6,078
4   United States                  65,910                    5,493
..            ...                     ...                      ...
64  Guinea-Bissau                     760                       63
65           Chad                     660                       55
66        Eritrea                     600                       50
67   Sierra Leone                     490                       41
68     Madagascar                     480                       40

[69 rows x 3 columns]

In [12]:
data.to_csv('countries avg income.csv')